// комиты с символами <> -  и.т.п. не желательно делать

@import "../variable";
@import "../mixins";

.hereisyouget {
	// padding: 0 10px 14px 10px;
	min-width: 320px;
	display: flex;
	margin-bottom: 14px;

	&__container {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}

	&__content {
		margin-left: 25px;
		margin-right: 25px;
		margin-top: 32px;
		padding: 0 10px;
	}

	&__title-mobile {
		font-family: $main_font;
		font-weight: bold;
		font-size: 32px;
		line-height: 38px;
		align-items: center;
		text-align: center;
		color: #8d81ac;
	}

	&__content-elem {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__content-elem-image {
		margin-top: 35px;
	}

	&__content-elem-content {
	}

	&__content-elem-content-headline {
		font-family: $main_font;
		font-size: 16px;
		line-height: 16px;
		text-align: center;
		color: #323232;
		margin-top: 20px;
	}

	&__content-elem-content-text {
		font-family: $text_font;
		font-size: 14px;
		line-height: 21px;
		text-align: center;
		color: #848e97;
		margin-top: 14px;
	}

	&__image-container {
	}

	&__title {
	}

	&__title-desktop {
		display: none;
	}

	&__image-wrap {
		padding-right: 0;
	}

	&__image-image {
		width: 100%;
	}
}
.hereisyouget__image-container {
	padding-left: 10px;
}

@media (min-width: $tabletWidth) {
	.hereisyouget {
		&__content {
			margin-left: 30px;
			margin-right: 30px;
			margin-top: 62px;
		}

		&__content-elem {
			flex-direction: row;
			margin-top: 50px;
		}

		&__content-elem-content-headline {
			line-height: 21px;
			margin-top: 0px;
			text-align: left;
		}

		&__content-elem-content-text {
			font-family: $main_font;
			margin-top: 16px;
			text-align: left;
		}

		&__content-elem-image {
			margin-top: 0px;
			min-width: 135px;
			align-self: center;
		}

		&__image-wrap {
			display: flex;
			justify-content: flex-end;
		}

		&__image-image {
			max-width: 700px;
			text-align: right;
		}
	}
}

@media (min-width: $desktopWidth) {
	.hereisyouget {
		background: #f4f4f4;
		margin-top: 0px;
		margin-bottom: 0px;

		&__container {
			flex-direction: row;
			max-width: 1200px;
			margin-bottom: 34px;
		}

		&__content {
			margin-left: 0px;
			margin-right: 0px;
			margin-top: 64px;
			margin-bottom: 70px;
		}

		&__content-elem-content-headline {
			margin-top: 34px;
		}

		&__title-mobile {
			display: none;
		}

		&__content-elem {
			margin-top: 0px;
			margin-left: 0px;
		}

		&__title-desktop {
			font-family: $main_font;
			display: flex;
			font-weight: bold;
			font-size: 48px;
			line-height: 50px;
			justify-content: center;
			color: #8d81ac;
			margin-top: 94px;
		}

		&__image-wrap {
			margin-left: 49px;
			min-width: 680px;
		}
	}
}
